ngrok.exe
server.rar

server/node_modules
server/.env
server/.DS_Store
server/npm-debug.log
server/yarn-error.log
server/.idea


client/node_modules/
client/.env
#client/app.json

client/android
client/%ProgramData%
client/.idea

client/.expo/
client/dist/
client/web-build/
client/expo-env.d.ts

# # Native
# *.orig.*
# *.jks
# *.p8
# *.p12
# *.key
# *.mobileprovision

# # Metro
# .metro-health-check*

# # debug
# npm-debug.*
# yarn-debug.*
# yarn-error.*

# # macOS
# .DS_Store
# *.pem

# # local env files
# .env*.local

# # typescript
# *.tsbuildinfo